.price-tag 
 font-family: Helvetica 
	font-size: 16px 
	font-weight: 800 
.scrolling-wrapper 
  overflow-x: scroll
  overflow-y: hidden
  white-space: nowrap
.hzreq 
	white-space: normal 
	word-break: break-all 
	display: inline-block 
	width: 55vw 
	height: 25vh
.hzmenu 
  white-space: normal
  word-break: break-all
  display: inline-block
  width: 33vw
  height: 22vh
.dragtobuy
  width: 80vw
  height: 1
  border: 2px solid #21BA45;

.fade-enter-active, .fade-leave-active
  transition: opacity .5s;

.fade-enter, .fade-leave-to
  opacity: 0;

  
